/*Mise en page globale*/

* {
    --accentColor: #4f4fcc;
    --lightTextColor: #141414;
    --textColor: #0e0e0e;
    margin: 0;
    padding: 0;
    color: var(--lightTextColor);
}

header>figure,
section {
    display: flex;
}

header>figure>div,
section>aside {
    width: 30%;
    background-color: var(--accentColor);
}

header>figure>figcaption,
section>article {
    width: 70%;
}


/* header */

header img {
    height: auto;
    width: 200px;
    border-radius: 50%;
    padding: 20px;
    margin: auto;
    display: block;
    /*margin auto only work on block elements*/
    box-sizing: border-box;
    filter: drop-shadow(0 0 5px black);
    ;
}

header span,
header h2,
i {
    color: var(--accentColor);
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 25px;
    color: var(--textColor);
}

header h2 span {
    padding-top: 5px;
    border-bottom: 2px solid;
}


/*partie info*/

aside h2 {
    color: var(--accentColor);
    background-color: var(--lightTextColor);
    padding: 15px;
    text-align: center;
    font-size: 27px;
    font-weight: 100;
    font-family: monospace;
}

aside a {
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}

aside {
    display: flex;
    flex-direction: column;
}

aside dl,
aside p {
    margin-bottom: 25px;
    padding: 15px;
    font-size: large;
}

aside dt {
    padding-top: 10px;
    padding-bottom: 2px;
}

aside dd {
    padding-left: 5px;
}


/* on fait prendre toute la place à loisir et on positione son contenu à la fin*/

.loisir {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.loisir i {
    color: var(--textColor);
}

.loisir ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.loisir li {
    display: flex;
    padding: 8px;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}


/*partie détailé*/

header>figure>figcaption>*,
article>* {
    padding-left: 20px;
}

article h2 {
    color: var(--textColor);
    display: flex;
    align-items: center;
}

article h2 span {
    padding-right: 10px;
}

hr {
    margin: 50px;
    border-color: var(--accentColor);
    background-color: var(--accentColor);
    border-style: solid;
}