/*Mise en page globale*/

* {
    --accentColor: #4f4fcc;
    --lightTextColor: #141414;
    --textColor: #000000;
    margin: 0;
    padding: 0;
    color: var(--lightTextColor);
    font-family: monospace;
    font-size: x-large;
}

ul {
    list-style-type: none;
}

header>figure,
body>section {
    display: flex;
}

header>figure>div,
section>aside {
    width: 30%;
    min-width: 270px;
    background-color: var(--accentColor);
}

header>figure>figcaption,
section>article {
    width: 70%;
}


/* header */

header img {
    height: auto;
    width: 200px;
    border-radius: 50%;
    padding: 20px;
    margin: auto;
    display: block;
    /*margin auto only work on block elements*/
    box-sizing: border-box;
    filter: drop-shadow(0 0 5px black);
    ;
}

header h1 span,
i {
    color: var(--accentColor);
}

h1 {
    margin-top: 35px;
}

h1,
h1>* {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 100;
    color: var(--textColor);
}

h2,
h2>* {
    font-size: 27px;
    font-weight: 100;
}

header h2 span {
    padding-top: 5px;
    border-bottom: 2px solid var(--accentColor);
}

header h2 {
    margin-top: 15px;
    margin-left: 35px;
}


/*partie info*/

aside h2 {
    color: var(--accentColor);
    background-color: var(--lightTextColor);
    padding: 15px;
    text-align: center;
}

aside a {
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}

aside {
    display: flex;
    flex-direction: column;
}

aside dl,
aside p {
    margin-bottom: 25px;
    padding: 10px;
    font-size: large;
}

aside dt {
    padding-top: 10px;
    padding-bottom: 2px;
}

aside dd {
    padding-left: 5px;
}


/* on fait prendre toute la place à loisir et on positione son contenu à la fin*/

.loisir {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.loisir ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.loisir li {
    display: flex;
    padding: 8px;
    width: 36px;
    height: 36px;
    border-style: solid;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.loisir i {
    color: var(--textColor);
    --ggs: 1.3;
}


/*partie détailé*/

header>figure>figcaption>*,
article>* {
    padding-left: 20px;
}

article h2 {
    color: var(--textColor);
    display: flex;
    align-items: center;
}

article h2 span {
    padding-right: 10px;
    width: 24px;
}

hr {
    margin: 15px 50px 15px 50px;
    border-color: var(--accentColor);
    background-color: var(--accentColor);
    border-style: solid;
}

article li {
    display: flex;
    margin: 5px 20px 10px 20px;
}

article li div {
    padding-left: 15px;
}

article li i {
    flex-shrink: 0;
}

article li div:nth-child(2) {
    flex-shrink: 0;
    width: 100px
}

article li span {
    display: block;
}

article li div:last-child {
    flex-shrink: 1;
}

article h4 {
    margin: 5px;
}